@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9216%;
    --card: 210 20% 98.0392%;
    --card-foreground: 240 10% 3.9216%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9216%;
    --primary: 24.5815 94.9791% 53.1373%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.7619% 95.8824%;
    --secondary-foreground: 240 5.8824% 10%;
    --muted: 240 4.7619% 95.8824%;
    --muted-foreground: 240 3.8298% 46.0784%;
    --accent: 240 4.7619% 95.8824%;
    --accent-foreground: 240 5.8824% 10%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.8824% 90%;
    --input: 240 5.8824% 90%;
    --ring: 24.5815 94.9791% 53.1373%;
    --chart-1: 24.5815 94.9791% 53.1373%;
    --chart-2: 217.2193 91.2195% 59.8039%;
    --chart-3: 142.1277 76.2162% 36.2745%;
    --chart-4: 258.3117 89.5349% 66.2745%;
    --chart-5: 37.6923 92.126% 50.1961%;
    --sidebar: 210 20% 98.0392%;
    --sidebar-foreground: 240 10% 3.9216%;
    --sidebar-primary: 24.5815 94.9791% 53.1373%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 240 10% 3.9216%;
    --sidebar-border: 240 5.8824% 90%;
    --sidebar-ring: 24.5815 94.9791% 53.1373%;
    --font-sans: Inter;
    --font-serif: Georgia;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0px;
    --spacing: 0.25rem;

    --font-space-grotesk: "Space Grotesk", sans-serif;
  }

  .dark {
    --background: 240 10% 3.9216%;
    --foreground: 0 0% 98.0392%;
    --card: 240 5.8824% 10%;
    --card-foreground: 0 0% 98.0392%;
    --popover: 240 5.8824% 10%;
    --popover-foreground: 0 0% 98.0392%;
    --primary: 24.5815 94.9791% 53.1373%;
    --primary-foreground: 240 10% 3.9216%;
    --secondary: 240 3.7037% 15.8824%;
    --secondary-foreground: 0 0% 98.0392%;
    --muted: 240 3.7037% 15.8824%;
    --muted-foreground: 240 5.0279% 64.902%;
    --accent: 240 3.7037% 15.8824%;
    --accent-foreground: 0 0% 98.0392%;
    --destructive: 0 62.8205% 30.5882%;
    --destructive-foreground: 0 0% 98.0392%;
    --border: 240 3.7037% 15.8824%;
    --input: 240 3.7037% 15.8824%;
    --ring: 24.5815 94.9791% 53.1373%;
    --chart-1: 24.5815 94.9791% 53.1373%;
    --chart-2: 221.2121 83.1933% 53.3333%;
    --chart-3: 142.1277 76.2162% 36.2745%;
    --chart-4: 262.1229 83.2558% 57.8431%;
    --chart-5: 32.1327 94.6188% 43.7255%;
    --sidebar: 240 10% 3.9216%;
    --sidebar-foreground: 0 0% 98.0392%;
    --sidebar-primary: 24.5815 94.9791% 53.1373%;
    --sidebar-primary-foreground: 240 10% 3.9216%;
    --sidebar-accent: 240 5.8824% 10%;
    --sidebar-accent-foreground: 0 0% 98.0392%;
    --sidebar-border: 240 3.7037% 15.8824%;
    --sidebar-ring: 24.5815 94.9791% 53.1373%;
    --font-sans: Inter;
    --font-serif: Georgia;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
    --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
    --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.5),
      0px 1px 2px -3px hsl(0 0% 0% / 0.5);
    --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.5),
      0px 1px 2px -3px hsl(0 0% 0% / 0.5);
    --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.5),
      0px 2px 4px -3px hsl(0 0% 0% / 0.5);
    --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.5),
      0px 4px 6px -3px hsl(0 0% 0% / 0.5);
    --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.5),
      0px 8px 10px -3px hsl(0 0% 0% / 0.5);
    --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 1.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  * {
    font-family: var(--font-space-grotesk) !important;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-space-grotesk);
  }
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

body {
  letter-spacing: var(--tracking-normal);
}
